*{
    box-sizing: border-box;
  
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}
    
.render-container{
    width: 90%;
    height: 40rem;
    border-radius: 1rem;
    display: flex;
    background-color:rgba(96, 96, 96, 0.7);
}

.cards-container{
    height: 100%;
    width: 80rem;
}
.left-options-container{
    width: 15%;
}   
.rigth-options-container{
    width: 15%;
}  

.loading-msg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    font-weight: 700;
    color: #606060;
}
    
   
    

    
    
    
    
   


    
 
    
  
   
    
    
    

