*{
    box-sizing: border-box;
}




.link{
    text-decoration: none;

}
.pokemons-cards-cotainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
	justify-content: center;
    align-items: center;
	
}
.card-container{
    width: 10rem;
    height: 14rem;
    margin: 0.5rem;
    background-color:#606060;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture-container{
    width: 87%;
    height: 7rem;
    background: radial-gradient( #f9be00, #f9de58);
    border-radius: 10%;
    display:flex;
    justify-content: center;
        
}

   
.profile-image {
    width: 100%;
    margin: 0.8rem;
    
}
    
.description-container{
    width: 87%;
    height: 5rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    margin-top: 0.5rem;
    border-radius: 10%;
}
    
    
    
    

    
    
   
.card-title{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #606060;
}


.types{
    
    font-weight: 100;
    font-style: italic;
    font-size: 0.8rem;
    color: #606060;
}

.pokemon-types{
    
    font-weight:500;
    font-size: 1rem;
    color: #606060;
} 

