body {
    
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    display: flex;
    background-image: url("./resources/background_image.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
html, body{
    height: 100%;
    width: 100%;
}